---
// Tailwind
import "../styles/global.css";

// Icono
import KeepScrolling from "@/assets/keep-scrolling.svg";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Landing GTA VI by sopedevs</title>
  </head>
  <body>
    <slot />
    <KeepScrolling
      class="fixed bottom-3 right-0 left-0 mx-auto text-pink-300 drop-shadow-2xl animate-bounce-pulse"
    />
  </body>
</html>

<style is:global>
  html,
  body {
    background-color: #111;

    height: 300vh;
    overflow-x: hidden;
    overscroll-behavior: none;
    color: #fff;
    margin: 0;
    width: 100%;
  }
</style>
